/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$text-color: #2C2F33;
$primary-color: #0C83D9;
$success-color:#4BAF4F;
$section-color: #CF990D;

* {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  .title {
    color: section-color;
  }
}


